.gallery-boardgames{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    border-radius: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
