.topMenu--whole{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.topMenu--whole *{
    margin: 2px;
}

.menuButton--top{
    width: 20vw !important;
}

